#switchOnOff {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}

button {
    width: 270px;
}

button img {
    float: left;
    width: 50px;
}

button span {
    float: right;
    width: 80%;
    text-align: center;
}

h3{
    text-align: center;
}
h5{
    text-align: center;
    color: #0078ef;
}

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}
ul {
    display: flex;
}
ul li {
    position: relative;
    list-style: none;
    margin: 0 2px;
}
ul li::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 40px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.8);
}
ul li:hover::before {
    transition-delay: 0.2s;
    opacity: 0.2;
    transform: scale(1);
}
ul li a {
    width: 40px;
    height: 40px;
    display: block;
    transition: 0.5s;
}
ul li:hover a {
    transform: translateY(-10px);
}
ul li a span  {
    width: 100%;
    height: 100%;
}
ul li a span::before {
    font-family: fontAwesome;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #262626;
    transform-origin: top;
    transition: transform 0.5s;
}
ul li:hover a span::before {
    transform: rotateX(90deg) translateY(-50%);
}
ul li a span::after {
    font-family: fontAwesome;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #fff;
    color: #262626; */
    transform-origin: bottom;
    transition: transform 0.5s;
    transform: rotateX(90deg) translateY(50%);
}
ul li:hover a span::after {
    transform: rotateX(0deg) translateY(0);
}
ul li:nth-child(1) a span::before,
ul li:nth-child(1) a span::after {
    content: '\f082';
}
ul li:nth-child(2) a span::before,
ul li:nth-child(2) a span::after {
    content: '\f09b';
}
ul li:nth-child(3) a span::before,
ul li:nth-child(3) a span::after {
    content: '\f059';
}
ul li:nth-child(4) a span::before,
ul li:nth-child(4) a span::after {
    content: '\f188';
}
ul li:nth-child(1) a span::after {
    background: #3b5999;
    color: #fff;
}
ul li:nth-child(2) a span::after {
    background: #000;
    color: #fff;
}
ul li:nth-child(3) a span::after {
    background:green;
    color: #fff;
}
ul li:nth-child(4) a span::after {
    background: #dd4b39;
    color: #fff;
}
