*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}

.Bar{
    height: 50px;
    width: 100%;
    background: #111;
    display: flex ;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}


.fillter_courses{
    width: 80%;
    height: 30px;
    display: flex;
    padding-left: 50px;
    font-size: 1.1em;
    font-weight: 700;
    color: #fff;
}
.fillter{
    margin-left: 50px;
    display: inline-block;
}
.categories {
    
    background-color: #111;
    color:white;
    padding: 12px 16px;
    z-index: 10;
    display: none;
}
.fillter:hover{
    color: #ffeb3b;
    cursor: pointer;
}
.dropdown:hover  .categories{
    display: block;
}


.categories .categorie {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.categories .categorie:hover{
    color: #ffeb3b;
}
.searchbar{
    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.searchInput{
    border: none;
    width: 70%;
}
.searchInput:focus{
    outline: None;
}
.searchIcon{
    width: 60px;
    height: 30px;
    margin-left: 5px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.container .box{
    position: relative;
    width: 300px;
    height: 380px;
    color: #fff;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
}

.container .box:hover{
    transform: translateY(-20px);

}
.container .box::before
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}

.container .box::after
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg,#4dff03,#00d0ff);
    filter: blur(20px);
}

.container .box span{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0,0,0,0.9);
    z-index: 2;
}


.container .box .content{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 6px;
    z-index: 10;
    
    
    
}
.container .box .content .remaining_div{
    position: absolute;
    top: 6px;
    left: 6px;
    width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-transform:  uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4 );
    background-size: 400%;
    border-bottom-right-radius: 20px;
    animation: animate 8s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.container .box h2{
    font-size: 1.1em;
    font-weight: 700;
    color: #fff;
    margin: 10px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;


}
.container .box .author_div{
    font-weight: 100;
    margin: 10px;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;


}

.container .box .category{
    text-align: center;
    font-weight: 700;
    margin: 10px;
    margin-top: 25px;
    font-size: 1.1em;

}

.container .box .review{

    position: absolute;
    left: 8px;
    bottom: 8px;
    font-size: 1.2em;

}


.container .box .content .rating_div{
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-transform:  uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4 );
    background-size: 400%;
    border-top-left-radius: 10px;
    animation: animate 8s linear infinite;
   
}


.pagenumbers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    margin-bottom: 5%;
}

.pagenumbers button {
	width: 50px;
	height: 50px;
    text-align: center;
	appearance: none;
	border: none;
	outline: none;
	cursor: pointer;

	background-color: #44AAEE;

	margin: 5px;
	transition: 0.4s;

	color: #FFF;
	font-size: 18px;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
	background-color: #44EEAA;
}

.pagenumbers button.active {
	background-color: #44EEAA;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.colum{
    display: flex;
    flex-direction: column;
}